<div class="thumbnail">
    <a href="{{ path_for('product.get', {slug: product.slug}) }}"><img style="max-width:230px;"src="{{ product.image }}" alt="{{ product.title }} image"></a>
    <div class="cation">
        <h4><a href="#">{{ product.title }}</a></h4>
        <p>{{ product.description }}</p>
    </div>
</div>
