{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="..\{{ product.image }}" alt="{{ product.title }} image" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            {% if product.hasLowStock() %}
                <span class="badge badge-warning">Low stock</span>
            {% endif %}

            {% if product.outOfStock() %}
                <span class="badge badge-danger">Out of stock</span>
            {% endif %}

            {% if product.hasLargeStock() %}
                <span class="badge badge-primary">In stock</span>
            {% endif %} 

            <h3> {{ product.title }} </h3>
            <p> {{ product.description }} </p>
            <p> {{ product.stock }} </p>
            
            {% if product.inStock() %}
            <a href="{{ path_for('cart.add', {slug: product.slug, quantity: 1}) }}" class="btn btn-primary btn-sm">Add to cart</a>
            {% endif %}        
        </div>
    </div>
{% endblock %}